// Carlo Melow
@font-face {
  font-family: 'Carlo Melow';
  src: url('@/assets/fonts/Carlo Melow/Carlo Melow.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Carlo Melow Sans
@font-face {
  font-family: 'Carlo Melow Sans';
  src: url('@/assets/fonts/Carlo Melow/Carlo Melow Sans.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Pepperoni
@font-face {
  font-family: 'Pepperoni';
  src: url('@/assets/fonts/Pepperoni/Pepperoni-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Zaychik
@font-face {
  font-family: 'Zaychik';
  src: url('@/assets/fonts/Zaychik/Zaychik-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Shakyhands
@font-face {
  font-family: 'Shakyhands';
  src: url('@/assets/fonts/Shakyhands/shakyhands.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Kosko
@font-face {
  font-family: 'Kosko';
  src: url('@/assets/fonts/Kosko/KoskoRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kosko';
  src: url('@/assets/fonts/Kosko/KoskoBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Fibberish
@font-face {
  font-family: 'Fibberish';
  src: url('@/assets/fonts/Fibberish/fibberish.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}